<div class="field has-addons">
  <strong class="mr-4 mt-2 ml-5">Sort By: </strong>
  <p class="control">
    <button class="button" (click)="onSorting('asc')">
      <span class="icon is-small">
        <i class="fas fa-sort-alpha-down-alt"></i>
      </span>
      <span>A-Z</span>
    </button>
  </p>

  <p class="control">
    <button class="button" (click)="onSorting('desc')">
      <span class="icon is-small">
        <i class="fas fa-sort-alpha-up-alt"></i>
      </span>
      <span>Z-A</span>
    </button>
  </p>
</div>
