<div class="column">
  <div class="card">
    <a [routerLink]="['/posts', post.id]">
      <div class="card-image">
          <figure class="image">
            <img
              src="https://assets.materialup.com/uploads/c83a9663-be0b-4397-b1af-67f520e44ef1/preview.png"
              alt="Placeholder image"
            />
          </figure>
      </div>
      <hr>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ post?.title }}</p>
            <p class="subtitle is-5">
              <span class="icon-text">
                <span class="icon has-text-link">
                  <i class="fas fa-home"></i>
                </span>
                <span>@{{ user?.username }}</span>
              </span>
              - 
              <span class="icon-text">
                <span class="icon has-text-link">
                  <i class="fas fa-map-pin"></i>
                </span>
                <span>{{ user?.address.city }}</span>
              </span>
            </p>
          </div>
        </div>
    
        <div class="content">
            {{post.body}}
        </div>
      </div>
    </a>
  </div>
</div>
