<div class="container">
  <div class="columns is-mobile">
    <div class="column">
      <div class="content">
        <div class="image is-16b9">
          <figure>
            <img
              src="https://assets.materialup.com/uploads/c83a9663-be0b-4397-b1af-67f520e44ef1/preview.png"
              alt="Placeholder image">
          </figure>
        </div>
        <h1 class="title is-3">
          {{post?.title}}
        </h1>
        <p>{{ post?.body }}</p>
      </div>
    </div>

  </div>
  <div class="columns is-mobile">
    <div class="column">
      <section class="hero is-link">
        <div class="hero-body">
          <h4 class="title is-4">Leave your Comment:</h4>
          <app-comments-editor></app-comments-editor>
        </div>
      </section>
    </div>
  </div>

  <div class="columns is-mobile">
    <div class="column">
      <app-comments *ngFor="let comment of comments" [comment]="comment"></app-comments>
    </div>
  </div>
</div>